// body{
//     background-color: $bg-color;
// }
.container{
    margin:0 auto;
    max-width:1460px;
    width:100%;
    display: grid;
    border:6px solid black;
    gap:3rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: "navbar navbar navbar"
                        "article1 main article3"
                        "article4 main article5"
                        "article4 main article6";
    place-content: start center;               
}
h1{
    text-align: center;
}
.article,.nav{
    border:2px solid grey;
}
.nav-bar{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    place-items: center;
}
.nav-bar li{
    list-style: none;

}
.nav{
    grid-area:navbar;
}
.article1{
    grid-area:article1;
}
.main{
    grid-area:main;
    figure img{
        border-radius:50%;
    }
}
.article3{
    grid-area:article3;
}
.article4{
    grid-area:article4;
}
.article5{
    grid-area:article5;
}
.article6{
    grid-area:article6;
}

@media screen and (max-width: 1200px) {
    .container{
        
        grid-template-areas: "navbar navbar navbar"
                            "article1 article3 article3"
                            "article4 article5 article5"
                            "article4 article6 article6"
                            "main . .";
        place-content: center;    
    }
}
@media screen and (max-width: 640px) {
    .container{
        
        grid-template-areas: "navbar"
                            "article1"
                            "main"
                            "article4"
                            "article3"
                            "article5"
                            "article6";
        place-content: center;    
    }
}